body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.p-select.country-selector .p-select-label {
  padding-right: 0;
}

@media (min-width: 961px) {
  .p-menubar-root-list,
  .p-menubar-root-list li:last-child {
    flex-grow: 1;
  }
  .p-menubar-root-list li:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

.p-password-input {
  width: 100%;
}
