@import 'tailwindcss';

body,
#app {
  overflow: hidden;
}

.glassmorphism-dark {
  backdrop-filter: blur(16px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: rgba(17, 25, 40, 0.62) !important;
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

.glassmorphism-light {
  backdrop-filter: blur(16px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: rgba(255, 255, 255, 0.62) !important;
  border-radius: 12px !important;
  border: 1px solid rgba(209, 213, 219, 0.3) !important;
}

.text-white * {
  color: white !important;
}

.text-black * {
  color: black !important;
}

.p-datepicker {
  padding: 0 !important;
}

.p-avatar {
  width: 35px !important;
  height: 35px !important;
}

.p-card {
  overflow: auto;
}

.p-card-body {
  padding: 0 !important;
}

.p-card-caption {
  padding: var(--p-card-body-padding);
}

.p-card-header {
  position: relative;
}

.p-card-header .favourite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
}

.p-card-header .favourite-button:hover {
  background-color: white !important;
}

.p-card-body {
  gap: 0 !important;
}

.p-card-header .favourite-button.p-button-text {
  color: red;
}

media-audio-layout,
.vds-audio-layout {
  background: transparent;
  border: none !important;
  height: fit-content;
}

media-controls.vds-controls {
  padding-inline: 0 !important;
  padding: 0 16px 8px 16px !important;
}

.p-card-caption {
  padding: 16px;
}

.gr-btn-container-foreground {
  box-shadow: 0 0 3px 0 #eee !important;
}
