@import 'tailwindcss';

.glassmorphism {
  backdrop-filter: blur(16px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: rgba(255, 255, 255, 0.62) !important;
  border-radius: 12px !important;
  border: 1px solid rgba(209, 213, 219, 0.3) !important;
}

.p-datepicker {
  padding: 0 !important;
}

.p-avatar {
  width: 35px !important;
  height: 35px !important;
}

.p-card {
  overflow: auto;
}
